﻿@import (reference) "../bootstrap/bootstrap.less";
.SSexception-modal-list {
    .SSexception-item {
        display: list-item;
        list-style: none;

        .SSexception-item-icon {
            .glyphicon;
            &:extend(.glyphicon-remove-sign all);
            color: darken(#ffc721, 10%) !important;
            font-size: 12px;
            margin-right: 7px;
            top: 1.5px;
        }
    }
}
