﻿@import "bootstrap/bootstrap";
@import url('mdb.min.css');
@import "$$/$$loader";
@import "$$/$$exception";
@import "$$/$$modal";

h4{
    font-weight: 600 !important;
}

.matrix-row {
    width: 716px !important;
}

.matrix-cell {
    border: 0.5px solid rgba(128, 128, 128, .2);
    padding: 2.5px;
    font-size: 13px;
    width: 17.6px !important;
}

.puzzle-word {
    display: inline-block;
    width: 100%;
    padding: 9px 10px 2px 10px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
        margin-left: -5px;
        transition:ease all 0.1s;
    }
}

span.legend {
    color: #a4a4a4;
    font-size: 11px;
    font-weight: 400;
    font-family: Tahoma;
}