﻿<div class="row">

    <div class="col-md-8">
        <div ng-if="sv.flagLoadingPuzzle" class="loader"></div>

        <div ng-if="!sv.flagLoadingPuzzle" class="panel panel-default animated fadeInUp" style="min-width: 750px;">
            <div class="panel-body">
                <h4>Word puzzle</h4>
                <div word-puzzle="sv.puzzle" puzzle-matrix="sv.matrix" puzzle-words="sv.words">

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body animated fadeIn" ng-if="!sv.flagShowWords">
                <h4>Information</h4>
                <p>
                    This program makes references to the evaluation test for one of the vacancies of <strong>full-stack-developer</strong> of <strong>XXXCLEA</strong>. This code belong to <strong>Johnny Quesada Ch</strong>, who is one of the current applicants for the position.
                </p>
                <button class="btn btn-primary" ng-click="findWords();">Find words</button>
            </div>

            <div class="panel-body animated fadeIn" ng-if="sv.flagShowWords">
                <div ng-if="!sv.flagLoadingWords">
                    <h4>Words</h4>
                    <p>
                        Here are the words that were found on the puzzle
                        <span class="legend">
                            Place the mouse over the items to highlight the word into the puzzle...
                        </span>
                    </p>

                    <p>
                        <span ng-repeat="item in sv.words"
                              class="puzzle-word animated fadeInUp" style="background-color: {{item.color}}">
                            {{item.word}}
                        </span>                        
                    </p>
                </div>

                <div ng-if="sv.flagLoadingWords" class="loader"></div>
            </div>
        </div>
    </div>

</div>

<div class="row" ng-if="!sv.flagLoadingWords && sv.flagShowWords">
    <div ng-if="false" class="col-lg-6">
        <div class="panel panel-default animated fadeInUp">
            <div class="panel-body">
                <h4>Markov Algorithm, matrix</h4>
                <pre>
                    <code class="lang-js">{{ sv.matrix | json}}</code>
                </pre>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default animated fadeInUp">
            <div class="panel-body">
                <h4>Word puzzle, breakdown output</h4>
                <pre>
                <code class="lang-js">{{ sv.words | json}}</code>
                </pre>
            </div>
        </div>
    </div>
</div>


