﻿<!DOCTYPE html>
<html lang="en" ng-app="markovPuzzle">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="Content/site.min.css">
    <title>Markov algorithm</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?v=1" />
</head>
<body data-ma-theme="{{sv.appSettings.theme || 'cyan'}}" ng-controller="indexController">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Markov algorithm</a>
                <button class="btn btn-success btn-xs"
                        ng-click="reload();"
                        style="margin-top: 13px; margin-left: -5px;">
                    Reload
                </button>
            </div>
        </div>

    </nav>

    <div ui-view class="container">

    </div>

    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/mdb.min.js"></script>

    <script src="Scripts/bundles/angularAll.min.js"></script>

    <script src="Scripts/$$/prototypeString.js"></script>
    <script src="Scripts/$$/$$.js"></script>
    <script src="Scripts/$$/$$exception.js"></script>
    <script src="Scripts/$$/$$http.js"></script>
    <script src="Scripts/$$/$$state.js"></script>
    <script src="Scripts/$$/$$session.js"></script>
    <script src="Scripts/$$/$$modal.js"></script>
    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/modules/$$sessionTest.js"></script>
    <script src="Scripts/app/modules/appSession.js"></script>
    <script src="Scripts/app/modules/appRouteConfig.js"></script>
    <script src="Scripts/app/directives/wordPuzzle.js"></script>
    <script src="Scripts/app/index.js"></script>

    <!-- <script src="Scripts/bundles/others.min.js"></script>
    <script src="Scripts/bundles/angularAll.min.js"></script>
    <script src="Scripts/bundles/app.js"></script> -->
</body>
</html>
